<template>
  <div class="_linked">
      <button class="btn btn-primary" @click.prevent @click="company_button()">
        <span class="button-input-inner__text">+ Заметка в компании</span>
      </button>
      <button class="btn btn-primary" @click.prevent @click="contact_button()">
        <span class="button-input-inner__text">+ Заметка в контакте</span>
      </button>
  </div>
</template>

<script>
  import axios from 'axios'
  let $ = window.jQuery;
  export default {
    name: 'LinkedEntities',
    methods:{
      contact_button()
      {
        let note = prompt('Укажите примечание');
        if (   note == null
            || AMOCRM.data.current_card.notes.notes.element_info.contacts[0] == '0'
        )
        {
          return '';
        }

        let request = {
          add: [
            {
              element_type: '1',
              element_id: AMOCRM.data.current_card.notes.notes.element_info.contacts[0] + '',
              updated_at: Date.now(),
              note_type: 4,
              text: note,
            }
          ]
        };

        axios
        .post( '/api/v2/notes', request)
        .then( response =>
        {
          document.location.reload(true);
        })
      },
      company_button()
      {
        let note = prompt('Укажите примечание');
        if (   note == null
            || AMOCRM.data.current_card.notes.notes.element_info.company_uid == '0'
        )
        {
          return '';
        }

        let request = {
          add: [
            {
              element_type: '3',
              element_id: AMOCRM.data.current_card.notes.notes.element_info.company_uid + '',
              updated_at: Date.now(),
              note_type: 4,
              text: note,
            }
          ]
        };

        axios
        .post( '/api/v2/notes', request)
        .then( response =>
        {
          document.location.reload(true);
        })
      }
    },
    mounted()
    {
      console.log(AMOCRM.data.current_card.notes.notes.element_info.contacts[0])
      let request = {
        add: [
          {
            element_type: '1',
            element_id: AMOCRM.data.current_card.notes.notes.element_info.contacts[0] + '',
            updated_at: Date.now(),
            note_type: 25,
            params: {
                text: 'Оставил заявку на сайте',
                service: 'Сервис',
              }
          }
        ]
      };
      axios
      .post( '/api/v2/notes', request)
      .then( response =>
      {
        console.log( response.data)
      })
    }
  }
</script>

<style lang="scss" scoped>
  ._linked {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 19px 0 20px 0;
    background: #fafafa;
    margin: -12px -30px 20px -30px;
  }
</style>
